
<HTML>
<HEAD><TITLE>Github Repository Info</TITLE>
</HEAD>
<BODY BGColor="BLUE"><br> 
<FONT COLOR=BLACK><CENTER><H2>Open Issues Count Application</FONT></H2></CENTER>
<FORM action="" method=post > {% csrf_token %}
<TABLE BGCOLOR=BLUE ALIGN=CENTER BORDER=2>
<TR ALIGN=CENTER><TD>Enter URL Of Github Repository</TD><TD><INPUT Type=text Name=una SIZE=15 ></TD></TR>
</TABLE>
EX : www.github.com/username/repositoryname
<CENTER>
<br>
<br>
<input type="submit" value="Submit">
</CENTER>
</FORM>
</BODY>
</HTML>
